.reference-screen[data-v-81d6fb8a]{border-radius:8px;overflow:hidden;position:relative}.reference-screen .el-image[data-v-81d6fb8a]{height:100%;pointer-events:none;width:100%}.reference-screen.active[data-v-81d6fb8a]{cursor:pointer}
